<!DOCTYPE html>
<html lang="en">
  <head>
    <title><?= title ?></title>
    <link rel='stylesheet' href='/css/style.css' />
      <link href="/css/bootstrap.min.css" rel="stylesheet" />
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid wrapper">
        <div class="row">
            <div class="span5">
                <h1><?= app.locals.websiteName ?></h1>
                <p class="muted"><?= app.locals.motto ?></p>
            </div>
        </div>

          <div class="navbar">
              <div class="navbar-inner">
                  <ul class="nav">
                      <li class="<?= title === 'Home' ? 'active' : '' ?>"><a href="/">Home</a></li>
                      <li class="<?= title === 'Products' ? 'active' : '' ?>"><a href="/viewAllProducts">View All Products</a></li>
                  </ul>
              </div>
          </div>

        <div class="row-fluid">
            <div class="span2 row">
                <div class="well ">
                    <?- partial("userDetails") ?>
                </div>
            </div>
            <div class="row span10">
                 <h2><?= title ?></h2>
                 <?- body ?>
            </div>
        </div>
    </div>
  </body>
</html>