<? console.log(shoppingCart); ?>

<? if(shoppingCart && shoppingCart.length > 0) { ?>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Cost</th>
            <th>Remove</th>
        </tr>
        </thead>
        <? shoppingCart.forEach(function(shoppingCartItem) { ?>
        <tr>
            <td><?= shoppingCartItem.Product.productId ?></td>
            <td><?= shoppingCartItem.Product.name ?></td>
            <td><?= shoppingCartItem.Product.description ?></td>
            <td>£<?= shoppingCartItem.Product.price ?></td>
            <th><?= shoppingCartItem.quantity ?></th>
            <th>£<?= shoppingCartItem.quantity  * parseInt(shoppingCartItem.Product.price, 0) ?></th>
            <td><a href="/products/remove/<?= shoppingCartItem.Product.productId ?>">Remove From Cart</a></td>
        </tr>
        <? }); ?>
    </table>
<? } else { ?>
    <p><i>Empty Shopping Cart.</i></p>
<? } ?>