<? if(typeof user !== 'undefined'){ ?>
    <p>Welcome <em><?= user.email ?></em></p>
    <p><a href="/shoppingCart">View shopping cart</a></p>
    <div style="text-align: center">
        <a href="/logout">Log out</a>
    </div>
<? } else { ?>
    <div style="text-align: center">
        <a href="/login">Login</a>
    </div>
<? } ?>