<script src="/js/searchProducts.js"></script>
<p>Here are all of our products</p>

<div>Search for a product</div>
<div><input id="productSearch" /><input type="button" id="productSearchSubmit" /></div>

<table class="table table-striped" id="productsTable">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
<!--            <th>Details</th>-->
            <th>Order</th>
        </tr>
    </thead>
    <? products.forEach(function(product) { ?>
    <tr>
        <td name="productId"><?= product.productId ?></td>
        <td name="productName"><?= product.name ?></td>
        <td name="productDescription"><?= product.description ?></td>
        <td name="productPrice">£<?= product.price ?></td>
<!--        <td><a href="#">View more details</a></td>-->
        <td name="addToCart"><a href="/products/add/<?= product.id ?>">Add To Cart</a></td>
    </tr>
    <? }); ?>
</table>