<p>Here are all of our products</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Cheese</td>
        <td>The finest cheese ever</td>
        <td>£1.50</td>
        <td><a href="#">View More Details</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Beer</td>
        <td>Lovely beer</td>
        <td>£2.20</td>
        <td><a href="#">View More Details</a></td>
    </tr>
</table>