<p>Here are all of our products</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Details</th>
            <th>Order</th>
        </tr>
    </thead>
    <? products.forEach(function(product) { ?>
    <tr>
        <td><?= product.id ?></td>
        <td><?= product.name ?></td>
        <td><?= product.description ?></td>
        <td>£<?= product.price ?></td>
        <td><a href="#">View more details</a></td>
        <td><a href="/products/add/<?= product.id ?>">Add To Cart</a></td>
    </tr>
    <? }); ?>
</table>